<section class="fullWidth" id="customMapEdit">
  <div class="customMapsControls">
    <div style="width: 70%; float: left">
      <h3 id="manageType"></h3>
    </div>
    <div style="width: 30%; float: left; position: relative">
      <div {{action doCustomMapsList}} class="drawHandle" style="float: left; position: static !important">&lsaquo; {{t _back_to_maps}}</div>
      <div style="position: absolute; right: 15px; bottom: 0" class="action" id="customMapEditOptions"></div>
      <a id="saveCustomMap" class="standardBtn deactivate-save-button" style="position: absolute; right: 5px;">{{t _save}}</a>
    </div>
  </div>
  <div id="mapDetails">

    <label for="mapTitle">{{t _map_name}}</label>
    <input type="text" id="mapTitle" placeholder="{{t _map_name}}" class="map-details">

    <label for="mapDescription">{{t _map_description}}</label>
    <input type="text" id="mapDescription" placeholder="{{t _map_description}}" class="map-details">

  </div>
  <div id="flowMap">
    <div id="customMapEditCanvas" class="flowMap"></div>
    <div id="customMapLegend" class="cartodb-legend">
      <h3 id="legendTitle"></h3>
      <h4 id="legendQuestion"></h4>
      <div id="legendOptions"></div>
    </div>
  </div>
  <div id="pointDetails">
    <h2>{{t _map_settings}}</h2>
    <div id="survey_hierarchy" class="point-details-content">
      <h3>{{t _data}}</h3>
    </div>
    <div class="point-details-content">
      <h3>{{t _legend}}</h3>
      <div class="point-details-content">
        <input class="legend-toggle" type="checkbox" name="show-legend" id="show-legend" style="float: left;">
        <label for="show-legend" style="float: left;">{{t _show_legend}}</label>
      </div>
      <div class="point-details-content">
        <input class="legend-toggle" type="checkbox" name="show-title" id="show-title" style="float: left;" disabled>
        <label for="show-title" style="float: left;">{{t _title}}</label>
        <input type="text" name="custom-map-title" id="custom-map-title" placeholder="{{t _custom_maps_change_legend_name}}">
      </div>
      <div class="point-details-content" id="legend-question-toggle" style="display: none">
        <input class="legend-toggle" type="checkbox" name="show-question" id="show-question" style="float: left;" disabled>
        <label for="show-question" style="float: left;">{{t _show_question}}</label>
      </div>
      <div class="point-details-content" style="margin-bottom: 10px">
        <input class="legend-toggle" type="checkbox" name="show-points-number" id="show-points-number" style="float: left;" disabled>
        <label for="show-points-number" style="float: left;">{{t _show_total_number_of_points}}</label>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
(function(){
  var navTabs = document.querySelector('.tabNav');
  var actionBar = document.querySelector('.customMapsControls');
  var mapDetails = document.querySelector('#mapDetails');
  mapDetails.style.marginTop = (actionBar.offsetHeight - 2)+'px';
  var header = document.querySelector('header');
  var footer = document.querySelector('footer');

  function resizeMap() {

    if (!document.querySelector('#customMapEditCanvas')) {
      // If we can't find the map element, assume we have changed tabs and remove listener
      window.removeEventListener('resize', resizeMap);
      return;
    }

    var totalHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var newHeight = totalHeight;

    newHeight -= navTabs.offsetHeight;
    newHeight -= actionBar.offsetHeight;
    newHeight -= mapDetails.offsetHeight;
    newHeight -= header.offsetHeight;
    newHeight -= footer.offsetHeight;
    newHeight = newHeight * 0.95;

    document.querySelector('#flowMap').style.height = newHeight + 'px';
    document.querySelector('#customMapEditCanvas').style.height = newHeight + 'px';
    document.querySelector('#pointDetails').style.height = newHeight + 'px';
  }

  window.addEventListener('resize', resizeMap);
  resizeMap();
})()
</script>
